.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.homeCard{
  margin-top: 6%;
  margin-left: 10%;
  padding: 5px;
  margin-bottom: 5%;
  color: white;
  text-align: center;
  text-indent: inherit;
}
.footerCard{
  color: white;
  text-align: center;
  position:fixed;
}
body{
  background-image: url(Images/cleaning.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.welcomeQuote{
  color: white;
  text-align: center;
  background-image: url(Images/cleaners.png);
  background-repeat: no-repeat;
}
.randy{
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 8PX;
  text-align: justify;
}
.footer{
  margin: auto;
  position: static;
  padding: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: blue;
  text-align: center;
  color: white;
}
.callUs{
  margin-right: 10%;
  color: white;
  text-align: justify;
}
.picsCard{
  margin-top: 3%;
  margin-bottom: 20%;
  margin-right: 55%;
  color: white;
  text-align: justify;
  font-weight: normal;
}
img{
        max-width: 100%;
        max-height: 100%;
        display: block; 
}
.teamPicCard{
  margin-top: 2%;
  margin-bottom: 25%;
  margin-right: 55%;
  color: white;
  text-align: justify;
  font-weight: normal;
}
@media screen and (max-width:600px){
  .homeCard{
    margin-top: 6%;
    margin: 10%;
    padding: 5px;
    margin-bottom: 5%;
    color: white;
    text-align: justify;
    font-weight: normal;
 
  }
  .teamPicCard{
    margin-top: 6%;
    margin: 10%;
    margin-bottom: 5%;
    color: white;
    text-align: justify;
    font-weight: normal;
  }
  .picsCard{
    margin-top: 6%;
    margin: 10%;
    margin-bottom: 5%;
    color: white;
    text-align: justify;
    font-weight: normal;
  }
  .welcomeQuote{
    color: white;
    margin-top: 10%;
    margin: 10%;
    padding: 5px;
    text-align: justify;
    background-image: url(Images/cleaners.png);
  }
  body{
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .footer{
    margin: auto;
    position: static;
    padding: 5px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    text-align: center;
    color: white;
  }
}
.teamContainer{
  margin: 2%;
}


